
html, body, #root, .App {
  height: 100%;
  min-height: 100%;
  font-size: 14px;
}

.wrapper {
  background: rgb(12, 43, 64);
  height: 100%;
}

.ag-header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 35px;
  width: 100%;
  opacity: .8;
  height: 70px;
  color: #FFF;
}

.ag-main {
  position: relative;
  width: 100%;
  height: calc(100% - 140px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.ag-container {
  width: 420px;
  height: 640px;
  margin: 0 auto;
  background: rgba(255, 255, 255, .1);
  border-radius: 12px;
}

#ag-canvas {
  height: 100%;
}

#ag-item {
  border-radius: 6px;
  border: 2px #00B6ED solid;
  height: 100%;
  width: 100%;
  background: url('./avatar.png') center no-repeat;
}